<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer_details</title>
</head>
<body>
    <h1>Customer Details</h1>
    <div class="container">
        <div class="customer_details">
             <h3>{{customer.first_name}}{{customer.last_name}}</h3>
             <p><b>Phone:</b>{{customer.Phone}}</p>
             <p><b>Address:</b>{{customer.address}}</p>
             <p><b>Email:</b>{{customer.email}}</p>
             <p><b>Joined on:</b>{{customer.time_created}}</p>
        </div>
        
    </div>
</body>
</html>